.añadir
{
    background-image: url('../img/Añadir.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    width: 15vw;
    height: 30vh;
    background-color: transparent;
    border-style: none;
}
.añadir:hover
{
    background-image: url('../img/AñadirHover.png');
}

.align
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.addTask
{
    background-color: transparent;
    border-style: none;
    background-image: url('../img/Añadir.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.addTask:hover
{
    background-image: url('../img/AñadirHover.png');
}

.fullwipe
{
    background-color: transparent;
    border-style: none;
    background-image: url('../img/BT.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.fullwipe:hover
{
    background-image: url('../img/BTHover.png');
}

.taskTitles
{
    display: grid;
    grid-template-columns: 5% 20% 20% 18% 9% 20.25% 5%;
}

.taskfalse, .tasktrue
{
    display: grid;
    grid-template-columns: 50% 9% 17% 3% 4.7% 3.8% 3.8% 8.8%;
    
}

.subfalse, .subtrue
{
    margin-left: 5%;
    display: grid;
    grid-template-columns: 42% 20% 7% 8% 6% 3.8% 4% 9.2%;
}

.taskList
{
    background-color: transparent;
    border-style: none;
    background-image: url('../img/goback.png');
    width: 5vw;
    height: 10vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.taskList:hover
{
    background-image: url('../img/gobackhover.png');
}

body{
    background-color: rgb(0, 0, 109);
}
h1,.txt,.taskTitles,.taskfalse, .tasktrue, .subfalse, .subtrue{
    color: white;
    font-family: Arial;
    
    
}
.taskTitles{
    font-weight: bold;
    font-size: 25px;   
    text-align: center;     
}
.taskfalse, .tasktrue, .subfalse, .subtrue{
    border-style: solid;
    border-color: white;
    text-align: center; 
}

.tasktrue
{
    background-color: rgb(61, 138, 61);
}
h1{
    font-size: 40px;
}
p{
    word-wrap: break-word;
}

#fintrue, #finfalse{
    background-color:transparent;
    border-style: none;
    background-image: url('../img/FinFalse.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    margin-left:auto;
    
}
#fintrue{
    background-image: url('../img/FinFalse.png');
}
#fintrue:hover{
    background-image: url('../img/FFHover.png');
}

#finfalse{
    background-image: url('../img/FinTrue.png');
}
#finfalse:hover{
    background-image: url('../img/FTHover.png');
}

.btnup, .btndown{
    border-style: none;
    padding: 10%;
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 50%;
}

.btnup{
    background-image: url('../img/arrowup.png');
}    
.btndown{
    background-image: url('../img/arrowdown.png');
}    
.btnup:hover{
    background-image: url('../img/auhover.png');
}    
.btndown:hover{
    background-image: url('../img/adhover.png');
}    

#mod{
    background-color:transparent;
    border-style: none;
    background-image: url('../img/Lapiz.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    margin-left:auto;
      

}
#mod:hover{
    background-image: url('../img/Lapiz\ Azul.png');
}
#sup{
    background-color:transparent;
    border-style: none;
    background-image: url('../img/CuboBasura.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    margin-left:auto;
    
}   
#sup:hover{
    background-image: url('../img/CuboBasuraRojo.png');
}

#nwt{
    background-color:transparent;
    border-style: none;
    background-image: url('../img/Añadir.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    margin-left:auto;
    
}   
#nwt:hover{
    background-image: url('../img/AñadirHover.png');
}

#current, form{
    color: white;
}
form{
    text-align: center;
    margin:auto;
    font-family: Arial;
    font-size: 20px;
}
label,#titulosub,#fechaLsub{
    font-size: 25px;
    height: 20px;
}
h1{
    text-align: center;
}
#ctTitle, #ctDate{
    font-size: 20px;
    height: 20px;

}
#ctDate{
    width: 237px;

}
#actualizar{
    width: 150px;
    height: 30px;
    font-weight: bold;
}

.import, .export
{
    background-color: white;
    margin-top: 7%;
    margin-left: 25%;
    width: 50%;
    height: 50%;
    font-weight: bold;
    font-style: italic;
}

.import2
{
    background-color: white;
    width: 10vw;
    height: 10vh;
    font-weight: bold;
    font-style: italic;
}
.nwTitle{
    width: 260px;
    height: 20px;
    font-size: 20px;
}
.nwDate{
    width: 180px; 
    height: 20px;
    font-size: 20px;
}
.finish{
    width: 165px;
    height: 30px;
    font-weight: bold;
}

#fechaLsub{
    width: 227px;
}
#text{
    font-size: 25px;
}
.txt{
    text-align: center;
    font-size: 20px;
}
#plus{
    background-color: transparent;
    border-style: none;
    background-image: url('../img/Añadir.png');
    background-size: 80%;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
#plus:hover{
    background-image: url('../img/AñadirHover.png');
}
#subfalse{
    background-color: #2f2f9c;
}
#taskfalse{
    background-color:  #5f5fc9;
}
#subtrue{
    background-color: rgb(39, 99, 39); 
}