.taskTitles
{
    display: grid;
    grid-template-columns: 25% 25% 25%;
}

.task
{
    display: grid;
    grid-template-columns: 25% 25% 25% 5% 5% 5%;
}
body{
    background-color: rgb(0, 0, 109);
}
h1,.txt,.taskTitles,.task{
    color: white;
    font-family: Arial;
    
}
.taskTitles{
    font-weight: bold;
    font-size: 25px;   
    text-align: center; 
    
    
}
.task{
    border-style: solid;
    text-align: center;
    
}
h1{
    font-size: 40px;
}
p{
    word-wrap: break-word;
}
#fin{
    background-color:black;
    background-image: url('../img/FinFalse.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    margin-left:auto;
    

}
#fin:hover{

    
}
#mod{
    background-color: black;
    background-image: url('../img/Lapiz.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    margin-left:auto;
      

}
#mod:hover{
    background-image: url('../img/Lapiz\ Azul.png');
}
#sup{
    background-color: black;
    background-image: url('../img/CuboBasura.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    margin-left:auto;
    
    
    
    
    
    

}   
#sup:hover{
    background-image: url('../img/CuboBasuraRojo.png');
    

}
#current, form{
    color: white;
}
form{
    text-align: center;
    margin:auto;
}
label{
    font-size: 20px;
}
h1{
    text-align: center;
}
