.taskTitles
{
    display: grid;
    grid-template-columns: 25% 25% 25%;
}

.taskfalse, .tasktrue
{
    display: grid;
    grid-template-columns: 25% 25% 25% 4.3% 4.3% 4.3% 12.1%;
}
body{
    background-color: rgb(0, 0, 109);
}
h1,.txt,.taskTitles,.taskfalse, .tasktrue{
    color: white;
    font-family: Arial;
    
}
.taskTitles{
    font-weight: bold;
    font-size: 25px;   
    text-align: center; 
    
    
}
.taskfalse, .tasktrue{
    border-style: solid;
    border-color: white;
    text-align: center; 
}

.tasktrue
{
    background-color: rgb(61, 138, 61);
}
h1{
    font-size: 40px;
}
p{
    word-wrap: break-word;
}

#fintrue, #finfalse{
    background-color:black;
    background-image: url('../img/FinFalse.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    margin-left:auto;
    
}
#fintrue{
    background-image: url('../img/FinFalse.png');
}
#fintrue:hover{
    background-image: url('../img/FFHover.png');
}

#finfalse{
    background-image: url('../img/FinTrue.png');
}
#finfalse:hover{
    background-image: url('../img/FTHover.png');
}

.btnup, .btndown{
    border-style: none;
    padding: 10%;
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 50%;
}

.btnup{
    background-image: url('../img/arrowup.png');
}    
.btndown{
    background-image: url('../img/arrowdown.png');
}    
.btnup:hover{
    background-image: url('../img/auhover.png');
}    
.btndown:hover{
    background-image: url('../img/adhover.png');
}    

#mod{
    background-color: black;
    background-image: url('../img/Lapiz.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    margin-left:auto;
      

}
#mod:hover{
    background-image: url('../img/Lapiz\ Azul.png');
}
#sup{
    background-color: black;
    background-image: url('../img/CuboBasura.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    margin-left:auto;
    
}   
#sup:hover{
    background-image: url('../img/CuboBasuraRojo.png');
    

}
#current, form{
    color: white;
}
form{
    text-align: center;
    margin:auto;
}
label{
    font-size: 20px;
}
h1{
    text-align: center;
}
